@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: none;
}

.game {
  padding: 250px;
}

.game .title {
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.game .title .span {
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  cursor: pointer;
}

.game .quote {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -10px;
  color: #e96d5e;
}

.game .text {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.container-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.wm {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
  color: #fff;
  margin-top: 13px;
  text-decoration: none;
  transition: ease-in 300ms;
}

.wm:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.btn-start {
  padding: 0.5rem 2.8rem;
  border: 1.5px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all ease-in 220ms;
}

.btn-start:hover {
  background: #fff;
  color: #1f1f1f;
}

.choices {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.choice-button {
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: 1.5px solid #fff;
  border-radius: 5px;
  transition: ease-in 150ms;
}

.choice-button:hover {
  background-color: #fff;
  color: #1f1f1f;
}

@media (max-width: 767px) {
  .game {
    padding: 50px 50px;
  }

  .game .title {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
  }

  .game .title .span {
    font-size: 3.5rem;
  }

  .game .quote {
    margin-top: -5px;
  }

  .container-btn {
    flex-direction: column;
    gap: 10px;
  }

  .choises {
    width: 100%;
  }

  .btn-start {
    width: 80%;
    font-size: 1rem;
    padding: 0.8rem 0;
    letter-spacing: 2px;
  }
}
